body{
    font: 20px arial, sans-serif;
}
.navbar {
    background-color: #31B404;
}
.quem-somos{
    background-color: #A9D0F5;
    color: white;
}
.margin{
   
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: aqua;
    color: white;
}
.bg-footer{
    background-color: black;
    color: white;
}